title: "Edson OliveiraJr, Ph.D."
description: "Associate Professor of Software Engineering"
url: "https://edson-ao-junior.github.io"
baseurl: ""

remote_theme: academicpages/academicpages.github.io

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-scholar

markdown: kramdown

author: "Edson OliveiraJr"

collections:
  pages:
    output: true

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
