{% if author %}
<ul class="author__urls social-icons">
  {% if author.googlescholar %}
  <li>
    <a href="{{ author.googlescholar }}" target="_blank" rel="noopener noreferrer">
      <i class="ai ai-google-scholar"></i> Google Scholar
    </a>
  </li>
  {% endif %}

  {% if author.orcid %}
  <li>
    <a href="{{ author.orcid }}" target="_blank" rel="noopener noreferrer">
      <i class="ai ai-orcid"></i> ORCID
    </a>
  </li>
  {% endif %}

  {% if author.dblp %}
  <li>
    <a href="{{ author.dblp }}" target="_blank" rel="noopener noreferrer">
      <i class="ai ai-dblp"></i> DBLP
    </a>
  </li>
  {% endif %}

  {% if author.github %}
  <li>
    <a href="{{ author.github }}" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i> GitHub
    </a>
  </li>
  {% endif %}

  {% if author.linkedin %}
  <li>
    <a href="{{ author.linkedin }}" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
