<link rel="stylesheet" href="/assets/css/custom.css">


{% assign pubs = site.data.publications | sort: "year" | reverse %}
{% assign years = pubs | map: "year" | uniq %}

<p>
  This page is organized in two parts: first, a curated list of
  <a href="#selected-publications"><strong>Selected Publications</strong></a>, followed by the complete list of
  <a href="#all-publications"><strong>All Publications</strong></a>,
  organized chronologically by year.
</p>

<hr>


<!-- ===================== -->
<!-- Selected Publications -->
<!-- ===================== -->

<h1 id="selected-publications">Selected Publications</h1>

<ul class="publication-list">

  <li>
    OliveiraJr, Edson; Zorzo, Avelino F.
    <strong>Review and agenda of Digital Forensics education and training</strong>.
    <em>Forensic Science International</em> 2026.
    <a href="https://doi.org/10.1016/j.forsciint.2025.112655" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
    <!-- <a href="https://arxiv.org/pdf/2501.12345.pdf"
      target="_blank"
      title="Download Preprint PDF">
      <img src="{{ 'assets/img/pdf.png' | relative_url }}"
          alt="PDF"
          class="preprint-icon">
    </a> -->
    <a href="https://doi.org/10.5281/zenodo.17088646"
       target="_blank"
       rel="noopener noreferrer"
       class="artifact-link"
       title="Research Artifacts">
      <img src="{{ 'assets/img/artifact.png' | relative_url }}"
           alt="Research Artifacts"
           class="artifact-icon"
           width="33"
           height="33">
    </a>
  </li>

  <li>
    OliveiraJr, Edson, E. D. Canedo, I. S. Brito.
    <strong>Understanding Education and Professional Practice of UML: Insights from Brazil and Portugal</strong>.
    <em>ACM Transactions on Computing Education</em> 2026.
    <a href="https://doi.org/10.1145/3779309" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
    <a href="https://zenodo.org/records/15724265"
       target="_blank"
       rel="noopener noreferrer"
       class="artifact-link"
       title="Research Artifacts">
      <img src="{{ 'assets/img/artifact.png' | relative_url }}"
           alt="Research Artifacts"
           class="artifact-icon"
           width="33"
           height="33">
    </a>
  </li>

  <li>
    Silva, T. J.; Mazur, A. H.; OliveiraJr, E.; Zorzo, A. F.; Barcelos, M.
    <strong>An ontology for promoting controlled experimentation in digital forensics</strong>.
    <em>Forensic Science International - Digital Investigation</em> 2025.
    <a href="https://doi.org/10.1016/j.fsidi.2024.301845" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Silva, T. J.; OliveiraJr, E.; Zorzo, A. F.; Pereira, M. E.
    <strong>A review study of digital forensics in IoT: Process models, phases, architectures, and ontologies</strong>.
    <em>Forensic Science International - Digital Investigation</em> 2025.
    <a href="https://doi.org/10.1016/j.fsidi.2025.301912" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Santos Neto, M. V., Graciano Neto, Valdemar V., Galvão Filho, A. R., Kassab, Mohamad, OliveiraJr, Edson.
    <strong>Is It Responsible? Emerging Results on Comparing Guardrails for Harm Mitigation in LLM-enhanced Software Applications</strong>.
    <em>International Symposium on Empirical Software Engineering and Measurement (ESEM)</em> 2025.
    <a href="https://doi.org/10.1109/ESEM64174.2025.00045" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Silva, T. J.; OliveiraJr, E.; Zorzo, A. F.
    <strong>Review and Recommendations on How Ontologies Have Supported Digital Forensics</strong>.
    <em>Forensic Science Review</em> 2024.
  </li>

  <li>
    Luz, Carlos D., Moreira, Elaine I., Tenório, Nelson, OliveiraJr, Edson, Barbosa, Ellen F.
    <strong>Teaching and Learning of Introduction to Software Engineering Experimentation to Distance-Learning Students: A Quasi-Experiment</strong>.
    <em>IEEE Frontiers in Education Conference (FIE)</em> 2024.
    <a href="https://doi.org/10.1109/FIE61694.2024.10893353" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    OliveiraJr, Edson, Madeiral, F., Santos, A. R., von Flach, C., Soares, S.
    <strong>A Vision on Open Science for the Evolution of Software Engineering Research and Practice</strong>.
    <em>ACM International Conference on the Foundations of Software Engineering (FSE) – Ideas, Visions and Reflections Track</em> 2024.
    <a href="https://doi.org/10.1145/3663529.3663788" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Bettin, G., Herculani, J. B., Melo, A., Andrade, L. C., OliveiraJr, Edson.
    <strong>Efficacy, Efficiency and Effectiveness of SMarty-based Software Product Line Inspection Techniques: a Controlled Quasi-Experiment</strong>.
    <em>International Working Conference on Variability Modelling of Software-Intensive Systems (VaMoS)</em> 2023.
    <a href="https://doi.org/10.1145/3571788.3571792" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    OliveiraJr, E.; Silva, T. J.; Zorzo, A. F.; Neu, C. V.
    <strong>Digital Forensics Experimentation: Analysis and Recommendations</strong>.
    <em>Forensic Science Review</em> 2022.
  </li>

  <li>
    Garcia, L. A., OliveiraJr, Edson, Morandini, M., Urbanowski, S.
    <strong>Tailoring the Scrum Framework for Software Development: Literature Mapping and Feature-based Support</strong>.
    <em>Information and Software Technology</em> 2022.
    <a href="https://doi.org/10.1016/j.infsof.2021.106814" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Luz, Carlos D., OliveiraJr, Edson, Steinmacher, I.
    <strong>How Experimentation in Software Engineering has been taught? Survey and Research Agenda</strong>.
    <em>International Conference on Evaluation and Assessment in Software Engineering (EASE)</em> 2022.
    <a href="https://doi.org/10.1145/3530019.3535306" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Morandini, M., Coleti, T. A., OliveiraJr, Edson, Corrêa, P. L. P.
    <strong>Considerations about the efficiency and sufficiency of the utilization of the Scrum methodology: A survey for analyzing results for development teams</strong>.
    <em>Computer Science Review</em> 2021.
    <a href="https://doi.org/10.1016/j.cosrev.2020.100314" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    OliveiraJr, E.; Zorzo, A.; Neu, C. V.
    <strong>Towards a conceptual model for promoting digital forensics experiments</strong>.
    <em>Forensic Science International: Digital Investigation</em> 2020.
    <a href="https://doi.org/10.1016/j.fsidi.2020.301014" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Petry, K. L., OliveiraJr, Edson, Zorzo, A.
    <strong>Model-based testing of software product lines: Mapping study and research roadmap</strong>.
    <em>Journal of Systems and Software</em> 2020.
    <a href="https://doi.org/10.1016/j.jss.2020.110608" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

  <li>
    Nogueira Teixeira, E., Aleixo, F., Amâncio, F. D. S., OliveiraJr, Edson, Kulesza, U., Werner, C.
    <strong>Software process line as an approach to support software process reuse: A systematic literature review</strong>.
    <em>Information and Software Technology</em> 2019.
    <a href="https://doi.org/10.1016/j.infsof.2019.08.007" target="_blank" class="doi-link">
      <img src="{{ 'assets/img/doi.png' | relative_url }}"
           alt="DOI"
           class="doi-icon"
           width="22"
           height="22">
    </a>
  </li>

</ul>


<hr>
<br>

<h1 id="all-publications">All Publications</h1>

{% for y in years %}
  <h1 id="year-{{ y }}">{{ y }}</h1>

  {% assign pubs_year = pubs | where: "year", y %}

  {% assign journals = pubs_year | where: "type", "journal" %}
  {% if journals.size > 0 %}
    <h2>Journal Articles</h2>
    <ul class="publication-list">
      {% for pub in journals %}
        <li>
          {{ pub.authors }}.
          <strong>{{ pub.title }}</strong>.
          <em>{{ pub.venue }}</em>.

          {%- comment -%} DOI {%- endcomment -%}
          {% if pub.doi %}
            {% if pub.doi != "DOI" %}
              <a href="https://doi.org/{{ pub.doi }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="doi-link"
                 title="View DOI">
                <img src="{{ 'assets/img/doi.png' | relative_url }}"
                     alt="DOI"
                     class="doi-icon"
                     width="22"
                     height="22">
              </a>
            {% else %}
              <span class="doi-text">DOI</span>
            {% endif %}
          {% else %}
            <span class="doi-text">DOI</span>
          {% endif %}

          {%- comment -%} Preprint PDF {%- endcomment -%}
          {% if pub.preprint %}
            <a href="{{ pub.preprint }}"
              target="_blank"
              rel="noopener noreferrer"
              class="preprint-link"
              title="Download Preprint PDF">
              <img src="{{ 'assets/img/pdf.jpg' | relative_url }}"
                  alt="Preprint"
                  class="preprint-icon"                  
                  width="22"
                  height="22">
            </a>
          {% endif %}

          {%- comment -%} ARTIFACT {%- endcomment -%}
          {% if pub.artifact %}
            <a href="{{ pub.artifact }}"
               target="_blank"
               rel="noopener noreferrer"
               class="artifact-link"
               title="Research Artifacts">
              <img src="{{ 'assets/img/artifact.png' | relative_url }}"
                   alt="Research Artifacts"
                   title="Research Artifacts"
                   class="artifact-icon"
                   width="33"
                   height="33">
            </a>
          {% endif %}

          {%- comment -%} BADGES CBSoft {%- endcomment -%}
          {% if pub.cbsoft %}
            {% for badge in pub.cbsoft %}
              <img src="{{ 'assets/img/badges/cbsoft-' | append: badge | append: '.png' | relative_url }}"
                  class="badge-icon"
                  title="CBSoft - {{ badge | capitalize }}"
                  alt="CBSoft - {{ badge }}"
                  width="33"
                  height="33">
            {% endfor %}
          {% endif %}

          {%- comment -%} BADGES ACM {%- endcomment -%}
          {% if pub.acm %}
            {% for badge in pub.acm %}
              <img src="{{ 'assets/img/badges/acm-' | append: badge | append: '.jpg' | relative_url }}"
                  class="badge-icon"
                  title="ACM - {{ badge | capitalize }}"
                  alt="ACM - {{ badge }}"
                  width="22"
                  height="22">
            {% endfor %}
          {% endif %}


          {% if pub.language == "pt" %}
            <span title="Publication in Portuguese">🇧🇷</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% assign confs = pubs_year | where: "type", "conference" %}
  {% if confs.size > 0 %}
    <h2>Conference & Workshop Papers</h2>
    <ul class="publication-list">
      {% for pub in confs %}
        <li>
          {{ pub.authors }}.
          <strong>{{ pub.title }}</strong>.
          <em>{{ pub.venue }}</em>.

          {%- comment -%} DOI {%- endcomment -%}
          {% if pub.doi %}
            {% if pub.doi != "DOI" %}
              <a href="https://doi.org/{{ pub.doi }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="doi-link"
                 title="View DOI">
                <img src="{{ 'assets/img/doi.png' | relative_url }}"
                     alt="DOI"
                     class="doi-icon"
                     width="22"
                     height="22">
              </a>
            {% else %}
              <span class="doi-text">DOI</span>
            {% endif %}
          {% else %}
            <span class="doi-text">DOI</span>
          {% endif %}

          {%- comment -%} Preprint PDF {%- endcomment -%}
          {% if pub.preprint %}
            <a href="{{ pub.preprint }}"
              target="_blank"
              rel="noopener noreferrer"
              class="preprint-link"
              title="Download Preprint PDF">
              <img src="{{ 'assets/img/pdf.jpg' | relative_url }}"
                  alt="Preprint"
                  class="preprint-icon"
                  width="22"
                  height="22">
            </a>
          {% endif %}

          {%- comment -%} ARTIFACT {%- endcomment -%}
          {% if pub.artifact %}
            <a href="{{ pub.artifact }}"
               target="_blank"
               rel="noopener noreferrer"
               class="artifact-link"
               title="Research Artifacts">
              <img src="{{ 'assets/img/artifact.png' | relative_url }}"
                   alt="Research Artifacts"
                   title="Research Artifacts"
                   class="artifact-icon"
                   width="33"
                   height="33">
            </a>
          {% endif %}

          {%- comment -%} BADGES CBSoft {%- endcomment -%}
          {% if pub.cbsoft %}
            {% for badge in pub.cbsoft %}
              <img src="{{ 'assets/img/badges/cbsoft-' | append: badge | append: '.png' | relative_url }}"
                  class="badge-icon"
                  title="CBSoft – {{ badge | capitalize }}"
                  alt="CBSoft - {{ badge }}"
                  width="33"
                  height="33">
            {% endfor %}
          {% endif %}

          {%- comment -%} BADGES ACM {%- endcomment -%}
          {% if pub.acm %}
            {% for badge in pub.acm %}
              <img src="{{ 'assets/img/badges/acm-' | append: badge | append: '.jpg' | relative_url }}"
                  class="badge-icon"
                  title="ACM – {{ badge | capitalize }}"
                  alt="ACM - {{ badge }}"
                  width="22"
                  height="22">
            {% endfor %}
          {% endif %}


          {% if pub.language == "pt" %}
            <span title="Publication in Portuguese">🇧🇷</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endfor %}
