<link rel="stylesheet" href="assets/css/customs.css">

{% assign pubs = site.data.publications | sort: "year" | reverse %}
{% assign years = pubs | map: "year" | uniq %}

{%- comment -%} QUICK ACCESS POR ANO {%- endcomment -%}
<div class="quick-access">
  <strong>Quick access:</strong>
  {% for y in years %}
    <a href="#year-{{ y }}">{{ y }}</a>{% unless forloop.last %},{% endunless %}
  {% endfor %}
</div>
<br>
<!-- <div class="quick-access-legend">
  <img src="{{ 'assets/img/artifact.png' | relative_url }}"
       alt="Research Artifacts"
       class="artifact-icon"
       width="44"
       height="44">
  <span>Research Artifacts</span>
</div> -->
<div class="quick-access-legend">

  <div class="legend-item">
    <img src="{{ 'assets/img/artifact.png' | relative_url }}"
         alt="Research Artifacts"
         class="artifact-icon"
         width="40">
    <span>Research Artifacts</span>
  </div>

  <div class="legend-item">
    <strong>CBSoft Badges:</strong>
    <img src="{{ 'assets/img/badges/cbsoft-available.png' | relative_url }}"
         title="CBSoft – Available">
    <img src="{{ 'assets/img/badges/cbsoft-functional.png' | relative_url }}"
         title="CBSoft – Functional">
  </div>

  <div class="legend-item">
    <strong><a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current" target="_blank">ACM Badges:</a></strong>
    <img src="{{ 'assets/img/badges/acm-available.jpg' | relative_url }}"
         title="ACM – Available">
    <img src="{{ 'assets/img/badges/acm-functional.jpg' | relative_url }}"
         title="ACM – Functional">
    <img src="{{ 'assets/img/badges/acm-reusable.jpg' | relative_url }}"
         title="ACM – Reusable">
    <img src="{{ 'assets/img/badges/acm-replicated.jpg' | relative_url }}"
         title="ACM – Replicated">
    <img src="{{ 'assets/img/badges/acm-reproduced.jpg' | relative_url }}"
         title="ACM – Reproduced">
  </div>

</div>

<hr>
<br>
{% for y in years %}
  <h1 id="year-{{ y }}">{{ y }}</h1>

  {% assign pubs_year = pubs | where: "year", y %}

  {% assign journals = pubs_year | where: "type", "journal" %}
  {% if journals.size > 0 %}
    <h2>Journal Articles</h2>
    <ul class="publication-list">
      {% for pub in journals %}
        <li>
          {{ pub.authors }}.
          <strong>{{ pub.title }}</strong>.
          <em>{{ pub.venue }}</em>.

          {%- comment -%} DOI {%- endcomment -%}
          {% if pub.doi %}
            {% if pub.doi != "DOI" %}
              <a href="https://doi.org/{{ pub.doi }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="doi-link"
                 title="View DOI">
                <img src="{{ 'assets/img/doi.png' | relative_url }}"
                     alt="DOI"
                     class="doi-icon"
                     width="22"
                     height="22">
              </a>
            {% else %}
              <span class="doi-text">DOI</span>
            {% endif %}
          {% else %}
            <span class="doi-text">DOI</span>
          {% endif %}

          {%- comment -%} ARTIFACT {%- endcomment -%}
          {% if pub.artifact %}
            <a href="{{ pub.artifact }}"
               target="_blank"
               rel="noopener noreferrer"
               class="artifact-link"
               title="Research Artifacts">
              <img src="{{ 'assets/img/artifact.png' | relative_url }}"
                   alt="Research Artifacts"
                   title="Research Artifacts"
                   class="artifact-icon"
                   width="33"
                   height="33">
            </a>
          {% endif %}

          {%- comment -%} BADGES CBSoft {%- endcomment -%}
          {% if pub.cbsoft %}
            {% for badge in pub.cbsoft %}
              <img src="{{ 'assets/img/badges/cbsoft-' | append: badge | append: '.png' | relative_url }}"
                  class="badge-icon"
                  title="{{ badge | capitalize }}"
                  alt="CBSoft - {{ badge }}"
                  width="33"
                  height="33">
            {% endfor %}
          {% endif %}

          {%- comment -%} BADGES ACM {%- endcomment -%}
          {% if pub.acm %}
            {% for badge in pub.acm %}
              <img src="{{ 'assets/img/badges/acm-' | append: badge | append: '.jpg' | relative_url }}"
                  class="badge-icon"
                  title="{{ badge | capitalize }}"
                  alt="ACM - {{ badge }}"
                  width="22"
                  height="22">
            {% endfor %}
          {% endif %}


          {% if pub.language == "pt" %}
            <span title="Publication in Portuguese">🇧🇷</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% assign confs = pubs_year | where: "type", "conference" %}
  {% if confs.size > 0 %}
    <h2>Conference & Workshop Papers</h2>
    <ul class="publication-list">
      {% for pub in confs %}
        <li>
          {{ pub.authors }}.
          <strong>{{ pub.title }}</strong>.
          <em>{{ pub.venue }}</em>.

          {%- comment -%} DOI {%- endcomment -%}
          {% if pub.doi %}
            {% if pub.doi != "DOI" %}
              <a href="https://doi.org/{{ pub.doi }}"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="doi-link"
                 title="View DOI">
                <img src="{{ 'assets/img/doi.png' | relative_url }}"
                     alt="DOI"
                     class="doi-icon"
                     width="22"
                     height="22">
              </a>
            {% else %}
              <span class="doi-text">DOI</span>
            {% endif %}
          {% else %}
            <span class="doi-text">DOI</span>
          {% endif %}

          {%- comment -%} ARTIFACT {%- endcomment -%}
          {% if pub.artifact %}
            <a href="{{ pub.artifact }}"
               target="_blank"
               rel="noopener noreferrer"
               class="artifact-link"
               title="Research Artifacts">
              <img src="{{ 'assets/img/artifact.png' | relative_url }}"
                   alt="Research Artifacts"
                   title="Research Artifacts"
                   class="artifact-icon"
                   width="33"
                   height="33">
            </a>
          {% endif %}

          {%- comment -%} BADGES CBSoft {%- endcomment -%}
          {% if pub.cbsoft %}
            {% for badge in pub.cbsoft %}
              <img src="{{ 'assets/img/badges/cbsoft-' | append: badge | append: '.png' | relative_url }}"
                  class="badge-icon"
                  title="CBSoft – {{ badge | capitalize }}"
                  alt="CBSoft - {{ badge }}"
                  width="33"
                  height="33">
            {% endfor %}
          {% endif %}

          {%- comment -%} BADGES ACM {%- endcomment -%}
          {% if pub.acm %}
            {% for badge in pub.acm %}
              <img src="{{ 'assets/img/badges/acm-' | append: badge | append: '.jpg' | relative_url }}"
                  class="badge-icon"
                  title="ACM – {{ badge | capitalize }}"
                  alt="ACM - {{ badge }}"
                  width="22"
                  height="22">
            {% endfor %}
          {% endif %}


          {% if pub.language == "pt" %}
            <span title="Publication in Portuguese">🇧🇷</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endfor %}
