.publication-list {
  list-style: none;
  padding-left: 0;
}

.publication-list li {
  margin-bottom: 0.8em;
}

.pub-authors {
  font-size: 0.95em;
}

.pub-title {
  font-weight: 600;
}

.pub-venue {
  font-style: italic;
}


/* ===============================
   Publications
   =============================== */

.publication-list {
  list-style: none;
  padding-left: 0;
}

.publication-list li {
  margin-bottom: 0.8em;
  line-height: 1.4;
}

.doi-icon {
  width: 22px;          /* controla o tamanho real */
  height: auto;
  vertical-align: middle;
  margin-left: 4px;
  display: inline-block;
}

.doi-link:hover {
  opacity: 0.75;
}

.doi-text {
  font-size: 0.85em;
  color: #888;
  margin-left: 4px;
}


.quick-access {
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

.quick-access a {
  margin: 0 4px;
  text-decoration: none;
  font-weight: 500;
}

.quick-access a:hover {
  text-decoration: underline;
}
