.publication-list {
  list-style: none;
  padding-left: 0;
}

.publication-list li {
  margin-bottom: 0.8em;
  line-height: 1.4;
}

.doi-icon {
  height: 15px;
  opacity: 0.85;
}

.doi-link:hover {
  opacity: 0.75;
}

.doi-text {
  font-size: 0.85em;
  color: #888;
  margin-left: 4px;
}


